<% include partials/header %>

<!-- Navbar code -->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Book Project</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/book/add">Add Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
</nav>
 <%- messages('message', locals) %>


<!-- Main Elements -->
<main >

  <div class='main_book_container'>
    <h1 class='book_page_title'>List of Books</h1>
      <div class='book_sub_section'>
        <% for(var i = 0; i < books.length; i++) { %>
          <div class='book_info'>
            <h2><a class='anchor anchor_fix' href='/book/<%= books[i]._id %>'>Book Name: <%= books[i].title %></a></h2>
            <h2>Book Author: <%= books[i].author %></h2>
            <h5>Book Description: <%= books[i].body %></h5>
          </div>
        <% } %>
      </div>
  </div>

</main>

<% include partials/footer %>